.container{
    background-color: bisque;
}
.button{
    background-color: red;
}
.main{
    background-color: aqua;
}

.h1{
    color: chocolate;
}
.form{
    background-color: cadetblue;
}
.div{
    background-color: beige;
}

.label{
    color: violet;
}

.input{
    background-color: tomato;
}

.select{
    color: aqua;
}

.option{
    background-color: blueviolet;
}




