.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
}

.lanh1{
    font-size: 3rem;
    color: white;
    margin-bottom: 0px;
}

.lanh2{
    color: #42B5CB;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
}

.boton{
    margin-top: 30px;
    display: inline;
    position: relative;
    height: 42px;
    width: 70px;
    border: 1px solid #cc66ff;
    background-color: black;
    font-weight: bold;
    cursor: pointer;
    color: #fb4ddec5;
    transition: background .1s ease;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}